<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/PruebaGaleriaMedio.css">
    <title>Document</title>
</head>
<body>
    <Div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
    <figure class="snip1560" >
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample23.jpg" alt="pr-sample23" />
        <figcaption>
          <h4>Fleece Marigold</h4>
          <h2>World <span>Delivery</span></h2>
          <h3>Shop Now</h3>
        </figcaption>
        <a href="#" class="link"></a>
      </figure>
      <figure class="snip1560"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample24.jpg" alt="pr-sample24" />
        <figcaption>
          <h4>Norman Gordon</h4>
          <h2>Summer <span>Sale</span></h2>
          <h3>Read More</h3>
        </figcaption>
        <a href="#" class="link"></a>
      </figure>
      <figure class="snip1560"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample25.jpg" alt="pr-sample25" />
        <figcaption>
          <h4>Ruby Von Rails</h4>
          <h2>Forever <span>Young</span></h2>
          <h3>Details</h3>
        </figcaption>
        <a href="#" class="link"></a>
      </figure>
    </Div>
      
      <script>
$(".hover").mouseleave(
  function () {
    $(this).removeClass("hover");
  }
);

      </script>

</body>
</html>